<header>
{{#if channel.hasLanguage}}{{flag-icon type="channel" lang=content.language}}{{/if}}
<span class="{{unless channel.hasLanguage 'noL'}} {{unless channel.hasBroadcasterLanguage 'noBL'}}">{{#link-to "channel" channel.id}}{{channel.detailedName}}{{/link-to}}</span>
{{#if channel.hasBroadcasterLanguage}}{{flag-icon type="broadcaster" lang=channel.broadcaster_language}}{{/if}}
</header>
{{#video-preview-image
	src=content.preview.medium
	video=content
	channel=content.channel
	clickable=(bool-not expanded)
	tagName="section"
	class=(if expanded "expanded")
	title=(unless expanded (unless infoTitle (if content.title content.title "") (if channel.game channel.game "")) "")
	action=(action "collapse")
}}
{{#if host}}
<header><div><i class="fa fa-reply icon-host"></i>{{#link-to "channel" host.id title=(t "components.video-item.hosted-by" name=host.display_name) bubbles=false}}{{host.display_name}}{{/link-to}}</div></header>
{{/if}}
<footer class="{{if (bool-or infoTitle showGame) 'shaded'}} {{if expanded 'expanded'}} {{if locked 'locked'}}">
<div class="bottom {{unless (bool-or infoTitle showGame) 'hidden'}}">
<div class="info-game">{{#if content.game}}<i class="fa fa-gamepad"></i>{{#link-to "games.game" content.game title=content.game}}{{content.game}}{{/link-to}}{{/if}}</div>
<div class="info-title"><i></i><span>{{content.title}}</span></div>
</div>
<div class="details">
<div>
{{#if content.hasFormatInfo}}
<div class="stats">
<div class="resolution"><i class="fa fa-film"></i> {{content.resolution}}</div>
<div class="fps">{{t "components.video-item.fps" fps=content.fps}} <i class="fa fa-eye"></i></div>
</div>
{{/if}}
<div class="status">
{{embedded-links text=content.title}}
</div>
</div>
</div>
</footer>
<div class="btn-expand" title="{{t (concat 'components.video-item.details.' (unless expanded 'show' (if locked 'unlock' 'lock')))}}" {{action "expand" bubbles=false}}>
<i class="fa {{unless expanded 'fa-chevron-up' (if locked 'fa-lock' 'fa-unlock-alt')}}"></i>
</div>
{{/video-preview-image}}
<footer>
<span title="{{content.titleCreatedAt}}"><i class="fa fa-clock-o"></i> {{hours-from-now content.created_at interval=60000}}</span>
{{#if content.isVodcast}}<span class="vodcast-indicator" title="{{t 'components.video-item.vodcast'}}"><i class="fa fa-recycle"></i></span>{{/if}}
<span title="{{content.titleViewers}}">{{format-viewers content.views}} <i class="fa fa-users"></i></span>
</footer>